body {
  font-size: 16px;
  color: black;
  font-family: 'Calibri', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: yellow;
  border-radius: 0;
  border: 0;
  border-bottom: 5px black;
  background-image: none;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Calibri', sans-serif;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 6px;
  text-align: left;
 }

h2 {
	font-size: 1.3em;
	text-align: center;
}



#chicken {
	border: black 5px;
	background-color: green;
}


h3 {
	text-align: center;
}

.collapsable-nav {
		float: right;
		}


.navbar-toggle {
	float: right;


}
li  {
		background-color: grey;
		border-bottom: 1px black;
		border-left: 1px black;
		border-right: 1px black;
		border-top: 1px black; 

}
#nav-list hr {
	width: 100%;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 3px solid black;
  }
.navbar-header button.navbar-toggle {
	resize: 50%;
}

#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: green;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;
}
#nav-list a span {
	font-size: 1.5em;
}



/********** Large devices only **********/
@media (min-width: 1200px) {
	.chicken {
	border: black 5px;
	background-color: green;
	}
	.navbar-toggle {
	display: none;
	}
	#nav-list {
	display: none;
	}
	.collapsable-nav {
		float: right;
		display: none;
		}
}

 /********** Medium devices only **********/
 @media (min-width: 992px) and (max-width: 1199px) {
   /* Header */
 .chicken {
 	border: black 5px;
 	background-color: green;
 	}
 	.navbar-toggle {
 	display: none;
 	}
 	#nav-list {
 	display: none;
 }
 .collapsable-nav {
 		float: right;
 		display: none;
 		}
 
 }
   /* End Header */
 
 /********** Small devices only **********/
 @media (min-width: 768px) and (max-width: 991px) {
 .chicken {
 	border: black 5px;
 	background-color: green;
 	}
 	.navbar-toggle {
 	display: none;
 	}
 	#nav-list {
 	display: none;}
 	.collapsable-nav {
 		float: right;
 		display: none;
 		}
 	}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    padding-left: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-toggle {
  	size: large;
  	  }
  #nav-list {
  	text-align: center;
  	border-bottom: 2px;
  	border-left: 2px;
  	border-right: 2px;

  }
   
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  #chicken {
	border: black 5px;
	background-color: green;

   
  /* End Header */

}
}